.header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   height: 50px;
   background-color: #4682b4;
   display: flex;
   align-items: center;
}

.container {
   position: relative;
   max-width: 97%;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.link {
   text-decoration: none;
   padding: 10px;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
}

.active {
   text-decoration: underline;
   filter: drop-shadow(3px 3px 2px black);
}

.numTasks {
   position: absolute;
   display: flex;
   gap: 4px;
   align-items: center;
   right: 5px;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
}

.numTasks span {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
}

.todosTrue {
   background-color: green;
}

.todosFalse {
   background-color: #9e0000;
}